Code/awa2/AwA2-data-sample/
Code/awa2/data/
__pycache__/
developper_guide.md
.idea
*.xml
*.iml
Code/awa2/__pycache__
.ipynb_checkpoints
Code/awa2/clustering_results.json
Code/awa2/AwA2-data.zip
*.log
*.error
Code/awa2/AwA2-data-sample-tags/
Code/awa2/AwA2-data-sample-tags2/
Code/awa2/autoencoder_tags.pth
Code/awa2/autoencoder_main.pth
Code/awa2/detailed_results_main.json
Code/awa2/results_notebook_main.ipynb